/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9 oct. 2021, 15:22:35
    Author     : eloua
*/
body {
    background-color: bisque; 
    font-family: verdana; 
    color: black; 
    font-size: 20px;
} 

.autresTitres {
  color: deeppink; 
  font-size: 35px; 
  text-align: left; 
  text-decoration: underline;
  margin: 25px
}

img {   
    position: absolute;
    padding: 10px;
    right: 25px;
    top: 10px;
    width: 20%;
}

table {
    border: 2px solid red;
    border-collapse: collapse;
    text-align: center;
    width: 25%;
    align: center
}

th {
    color: green;
    width: 25px;
    border: 2px solid red;
    border-collapse: collapse;
}    

td {
    color: captiontext;
    border: 2px solid red;
    border-collapse: collapse;
}

form.button {
    text-align: center;
    font-size: 60%;
}

caption {
    color: red
}

div.relative {
    position: relative;
    left: 50px;
}